.diviseur-courbe{
  position: relative;
  background-image: url(../graphiques-elements/diviseur-section-slim.svg);
  width: 100%;
  height: 200px;
  background-repeat: no-repeat;
  background-size: cover;




}
.xp-like-bg{
  transition: all 0.25s ease;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  animation-name: bg-banner-anim-2;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  /* background-color: #ffffff; */
  background-image: linear-gradient(160deg, #3a4a53 0%, rgba(192, 192, 211, 0.65) 100%);
}

.navbar-brand{
  position: relative;
}

.boule-titre{
  position: absolute;
  bottom: 24px;
  left: 9px;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  background-color: rgba(248,188,69,0.3);
  box-shadow: 0 0 40px 40px rgba(248,188,69,0.2);
}
#about-title{
  position: relative;
}
ul.dropdown-menu.show{
  background-color: #2a261c!important;
}
a.dropdown-item:hover{
  background-color: #353127 !important;
}
.inline{
  position: relative;
  display: inline!important;
  top: 13px;
  left: 2px;

}
.arrow-dropdown{
  margin: 0px!important;
}
.img-arrow-dropdown{
  width: 9px;
  height: 9px;
  transform: rotate(90deg);
  transition: all 0.35s ease;
  position: relative;
  right: 8px;
}
.rotation-down{
  transform: rotate(270deg);
}

#follower{
  position: absolute;
  width: 1px;
  height: 1px;
  border-radius: 100%;
  background-color:rgba(248,188,69,0.3);
  box-shadow: 0 0 40px 40px rgba(248,188,69,0.2);
  top: 49%;
  left: 48.85%;
  z-index: 10000;
}

body{
  user-select: none!important; 
}
.navbar-toggler-icon{
    color: #f9f6ee;
}
.navbar{
  background-color: rgba(255,255,255,0)!important;
  transition: all 0.5s ease;
}
.menu-scroll-bg{
  background-color: rgba(20,24,29,0.7)!important;
}
@media only screen and (max-width: 500px) {
  #ma_navigation{
    background-color: rgba(20,24,29,0.7)!important;
  }
}
.navbar a, .navbar .active{
  color: #f9f6ee!important;
}
.experience-container{
  max-width: 100%!important;
  padding: 20px;
  padding-left: 70px;
  padding-right: 70px;
}
.experience-container-footer{
  max-width: 100%!important;
  padding-top: 2px;
  padding-bottom: 2px;
  padding-left: 70px;
  padding-right: 70px;
  background-color: #2e1d02;
}
.experience-container .row{
max-width: 100%!important;
overflow-x: hidden!important;
padding: 10px;
}
.container-width-100{
width: 100%;
overflow-x: hidden;
}
.experience-container .col-indicateur{
  margin-top: -2px;
  border-left: solid 2px #f8bc45;
  position: relative;
}
.experience-container .col-indicateur::before{
  position: absolute;
  left: -8.8px;
  top: 0;
  content: "";
  width: 16px;
  height: 16px;
  border: solid 2px #f8bc45;
  border-radius: 50px;
  background: #f8bc45;
}

.experience-container h4{
  position: relative;
  bottom: 7px;
}
.experience-container h3{
  color: #f8bc45;
  font-weight: 900;
  margin-bottom: 20px;
}
.experience-container p{
  margin-bottom: 0px;
}
.experience-container ul{
  margin-top: 10px;
}
.experience-container a {
  color: #1a2b34;
}
.experience-container a:hover {
  color: #f8bc45;
}


.experience-container h2{
  text-align: center;
}
.experience-container .row{
  margin-top: 25px;
}
.experience-container .col{
  margin-bottom: 25px;
  position: relative;
  padding-left: 20px;
}
.copy-right{
color: #f9f6ee;
position:relative;
left :5px;
display: inline;
text-align: center;
font-size: 9px;
}
.col-languages{
  font-size: 1rem;
}
.html{
  width: 0px;
  transition: all 1.5s ease-out;
}
.css{
  width: 0px;
  transition: all 1.5s ease-out;
}
.php{
  width: 0px;
  transition: all 1.5s ease-out;
}
.laravel{
  width: 0px;
  transition: all 1.5s ease-out;
}
.js{
  width: 0px;
  transition: all 1.5s ease-out;
}
.vue{
  width: 0px;
  transition: all 1.5s ease-out;
}
.wordPress{
  width: 0px;
  transition: all 1.5s ease-out;
}
.jquery{
  width: 0px;
  transition: all 1.5s ease-out;
}
.ps{
  width: 0px;
  transition: all 1.5s ease-out;
}
.ai{
  width: 0px;
  transition: all 1.5s ease-out;
}
.skill-level{
  height: 5px;
  background-color: #f8bc45;
  position: relative;
  bottom: 10px;
}
.skill-container{
  height: 5px;
  width: 100px;
  background-color: #f9f6ee;
}
.titre-languages{
  margin-bottom: 20px!important;
}
.language-row{
  margin-top: 50px;
}
.languages-logo{
  width: 44px;
  margin-right: 20px;
}
.ordi-dessin{
  position: absolute;
  z-index: 100;
  width: 187px;
  bottom: 30px;
  right: -500px;
  transition: all 1s ease-out;
  transition-delay: 0.75s;
  animation-name: ordi-anim;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
  opacity: 100%;
}
@keyframes ordi-anim {
  0%   {opacity: 100%;}
  85%  {opacity: 20%;}
  100% {opacity: 100%;}
}
#anchor-about{
  position: absolute;
  bottom: 145px;
}
.mail-icon, .phone-icon{
  transition: all 0.3s;
  opacity: 0.8;
}
.mail-icon:hover, .phone-icon:hover{
  background-color: #f8bc45;
}
.mail-icon{
  width: 75px;
  background-color: #fff;
  border-radius: 23px;
  padding: 3px;

}
.phone-icon{
  width: 75px;
  background-color: #fff;
  border-radius: 23px;
  padding: 3px;
}
.mail-p{
  text-align: right;
  margin-top: 35px;
  margin-right: 70px;
}
.tel{
  text-align: left;
  margin-top: 35px;
  margin-left: 70px;
}
.raw-pixel{
  position: relative;
  font-size: 9px;
  margin-left: 0px;
}
html, body, .container,.experience-container-footer {
  max-width: 100%;
  overflow-x: hidden;
}
.about-container{
  margin-top: 30px;
  color: #f9f6ee;
  font-size: 20px;
  overflow-y: hidden;
  min-height: 558px;
}
.dropdown-item {
    width: 95%;
}
  .contact-container{
    position: relative;
  }

.contact{
  position: relative;
  height: 264px;
  background-color: #182025;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-image: url("../images/code.png");*/
  background-image: linear-gradient(160deg, #182025 0%, rgba(248,188,69,1) 100%);
  opacity: 0.35;
  filter: contrast(1.5);
  transition: all 0.3s linear;
}
.contact:hover .phone-icon{
  opacity: 0.45;
}
.mokup-about{
position: absolute;
/*right: 690px;*/
right: 53%;
width: 866px;
top: 20px;
transition: all 4s ease;
}

.section-presentation-skill{
position: relative;
padding-top: 42px;
padding-bottom: 30px;
}/*
.code-bg{
position: fixed;
  object-fit: cover;
  object-position: center;
  opacity: 16%;
  width: 100%;
  height: 600px;
  z-index: -2;
}
.code-bg-footer{
position: fixed;
  object-fit: cover;
  object-position: center;
  opacity: 16%;
  width: 100%;
  height: 600px;
  z-index: -1;
top: 80px;
}*/

.logo{
  width: 85px;
  height: 45px;
  color: #fff;
 /* background: rgba(255,255,255,0.6);*/
  border-radius: 30px;
}
#about{
  padding-top:20px;
  width: 100%;
  background-color: #14181d;
 
  /*background-color: rgba(26,43,52,1);  gradient*/
  padding-bottom: 30px;
}
#about h2{
 /* text-align: center!important;*/
  margin-top: 20px!important;
  color: #f8bc45;
}
#contact-title{
  position: absolute;
  margin: 0px auto;
  left: 0px;
  right: 0px;
  text-align: center!important;
  /* margin-top: 20px!important; */
  color: #f8bc45;
  /*background-color: #1a2b34;*/
  z-index: 3;
  top: 40px;
}

/*  .nav-link{
  color: #fff;
}
.navbar{
  background-color: #182025!important;
}*/

.nav-item,.nav-link{
  position: relative;
  padding-left: 0px!important;
  padding-right: 0px!important;
  margin-left: 10px;
  margin-right: 10px;
}
.dropdown-toggle::after{
  display: none!important;
}
.nav-link::after{
  width: 0%;
  height: 2px;
  content: "";
  background-color: #f8bc45;
  transition: width .2s ease;
  position: absolute;
  bottom: 8px;
  left: 0;

}
.nav-link:hover.nav-link::after{
  width: 100%!important;
}
.active.nav-link::after{
  width: 100%!important;
}
#ma_navigation{
position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1000;
}
.image-conteneur, .info-conteneur{
margin-right: 20px;
}
.texte-intro{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
}
.megamenu{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 200;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  width: 100%;
  height: 100vh;
  max-height: 760px;
  background-color: #14181d;
  display: none;
  opacity: 0;
  transition:all 5s ease;
}
.mega-menu-visible{
  transition: all 5s ease;
  display: block;
  opacity: 1;
}
.container-megamenu{
  position: relative;
  top: 100px;

 
}
.row-megamenu{
  display: flex;
  justify-content: center;
  align-items: center;
}
.over-section{
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0px;
  width: 100%;
  height: 100vh;
max-height: 760px;
}
.texte-intro img{
  width: 120px;
  border-radius: 20px;
  height: 140px;
  object-fit: cover;
  object-position: center;
}
.texte-intro h1{
  color: #f5f0e2;
}
.banner-1{
  position: relative;
filter: contrast(1.5);
height: 100vh;
max-height: 760px;
/* height: 100vh;*/
/*   background-image: url(./images/); */
 /*  background-position: center;
  background-size: cover;*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 /* position: relative;
bottom: 66px;*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #f8bc45;
animation-name: bg-banner-anim;
animation-duration: 2.5s;
animation-iteration-count:1;
/*transition: all 1s ease;*/
background-image: linear-gradient(160deg, #182025 0%, rgba(248,188,69,0.65) 100%);
/*background-image: url("../images/code.png");*/
opacity: 0.35;
}
.experience-container{
  transition: all 0.25s ease;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #fff;
  animation-name: bg-banner-anim-2;
  animation-duration: 10s;
  animation-iteration-count:infinite;
  /*background-color: #ffffff;*/
  background-image: linear-gradient(160deg, #3a4a53 0%, rgba(192, 192, 211, 0.65) 100%);
  color: #1a2b34;
  padding-top: 30px;
  padding-bottom: 30px;
}
.banner-2{
  position: absolute;
  filter: contrast(1.5);
height: 100%;
max-height: 760px;
/* height: 100vh;*/
/*   background-image: url(./images/); */
 /*  background-position: center;
  background-size: cover;*/
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 /* position: relative;
bottom: 66px;*/
background-attachment: fixed;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-color: #f8bc45;
animation-name: bg-banner2-anim;
animation-duration: 10s;
animation-iteration-count:infinite;
/*transition: all 1s ease;*/
background-image: linear-gradient(160deg, #182025 0%, rgba(248,188,69,0.65) 100%);
/*background-image: url("../images/code.png");*/
opacity: 0;
}
.banner2-filter{
  filter: opacity(0.5)!important;
  max-height: 100px!important;
}

@keyframes bg-banner2-anim {
  0%   {opacity: 0;}
  50%  {opacity: 1;}
  100% {opacity: 0;}
}
@keyframes bg-banner-anim {
  0%   {opacity: 0.35;}
  85%  {opacity: 0.2;}
  100% {opacity: 0.35;}
}
@keyframes bg-banner-anim-2 {
  0%   {opacity: 1;}
  50%  {opacity: 0.8;}
  100% {opacity: 1;}
}
/*
@keyframes bg-banner-anim {
  0%   {background-image: linear-gradient(160deg, #1a2b34 0%, #f8bc45 100%);}
  50%  {background-image: linear-gradient(80deg, #11acff 0%, #fb0707 100%);}
  100% {background-image: linear-gradient(160deg, #1a2b34 0%, #f8bc45 100%);}
}*/

body {
  margin: 0px;
  font-family: 'Open Sans', sans-serif;
  /*background-color: #1a2b34;*/
 /* background-color: #1a2b34;*/
 background-color: #161b20;
 /* background-color:rgba(26,43,52,1);*/
  color: #f8bc45;
}

a{
color: #fff;
text-decoration: none;
cursor: pointer;
margin: 5px;
}/*
.big-ordi-anim{
 opacity: 100%!important;
}*/
.ordi-dessin-anim{
  right: 150px;
}
.html-level-anim{
  width: 95px;
}
.css-level-anim{
  width: 85px;
}
.php-level-anim{
  width: 80px;
}
.laravel-level-anim{
  width: 80px;
}
.js-level-anim{
  width: 85px;
}
.vue-level-anim{
  width: 80px;
}
.wordPress-level-anim{
  width: 75px;
}
.jquery-level-anim{
  width: 85px;
}
.ps-level-anim{
  width: 55px;
}
.ai-level-anim{
  width: 60px;
}
.language-row {
  width: 370px;
} 

/***************************MEDIA QUERY  *******************/
@media screen and (max-width: 992px) {
#about-title{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
.li-portfolio{
  position: relative;
  bottom: 16px;
  right: -8px;
  margin: 12px 0px;
}


  .megamenu, .mega-menu-visible{
    display: none;
  }
  .presentation{
  padding: 20px;
  }
    .experience-container{
      padding-left: 30px;
      padding-right: 30px;
    }
    .experience-container-footer{
      padding-left: 30px;
      padding-right: 30px;
    }
    
    /*
    footer{
    padding-left: 30px;
    padding-right: 30px;
    }*/
      .section-presentation-skill {
        flex-direction: column;
      }
      .mokup-about{
        display: none;
      }
      .ordi-dessin {
      right: 0px;
      left: -700px;
      margin-right: 800px;
      margin: 0px auto;
    }
    .ordi-dessin-anim{
      left: 0px;
    
    }
    .texte-intro {
        padding: 17px;
    }
    .navbar-toggler {
      margin-right: 13px;
    }
    #anchor-about {
        bottom: 205px;
    }
    .language-row {
      margin: 0px auto;
      justify-content: center ;
    } 
    #about h2 {
      /* text-align: center!important; */
    text-align: center;
    }
    .all-skill{
      padding-left:10%;
    }
    .presentation{
      text-align: center;
    }
    .nav-link::after {
      height: 2px;
      content: "";
      background-color: #f8bc45;
      transition: width .2s ease;
      position: absolute;
      bottom: 20px;
      left: -21px;
      transform: rotate(90deg);
      width: 0px;
  }
  .active.nav-link::after{
    width: 27px!important;
  }
  .nav-link:hover.nav-link::after{
    width: 27px!important;
  }
}
.skill-container{
margin-bottom: 5px;
}
@media screen and (max-width: 500px) {
  .ordi-dessin {
    bottom: 130px;
    width: 106px;
}
.texte-intro {
    bottom: 130px;
}
.info-conteneur h2{
  font-size: 21px;
}

.mail-p{
  margin-right: 30px;
}
.tel{
  margin-left: 30px;
}
.mail-icon, .phone-icon{
  width: 60px;
}
}
@media screen and (max-width: 370px) {
.language-row {
  width: 100%;
} 
}

@media screen and (min-width: 1300px){
  .presentation{
    max-width: 800px;
  }
  #about{
    padding-top: 50px;
    padding-bottom: 60px;
  }
  .experience-container {
    padding-top: 70px;
    padding-bottom: 70px;
}
  .container{
      padding-left: 115px;
      padding-right: 115px;
    }
   /* footer.container{
      padding-left: 0px;
      padding-right: 0px;
    }*/
}

/*footer{
  padding-left: 70px;
  padding-right: 70px;
}*/
.copyright{
  margin-top: 14px;
}
.footer{
  background-color: #fff;
}
.footer .raw-pixel{
  color: #fff;
}
@media screen and (min-width: 1800px){
  h2{
    font-size: 41px;
  }
  .ordi-dessin-anim {
    right: 400px;
}
}


#titre-job{
  color:#f8bc45;
  animation-name: titre-anim;
  animation-fill-mode: forwards;
  animation-duration: 2.5s;
  animation-iteration-count: 1;
}
@keyframes titre-anim{
  0%   {color: #2c1f05;}
  85%  {color: #2c1f05;}
  100% {color:#f8bc45;}
}