.banner-projet{
    position: relative;
    height: 236px;
    background-color: #1a2b34;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url("../images/code.png");
    opacity: 0.16;
    filter: contrast(1.5);
  }

.absolute-title-projet{
    height: 324px;
    position: absolute;
    /* bottom: 110px; */
    top: 130px;
    padding-left: 4px;
}

h1{
position: relative;
 }
.copy-right{
    color: #fff;
    position:relative;
    left :29px;
    display: inline;
    text-align: center;
    font-size: 9px;
  }
    .laravel{
      padding-left: 14px!important;
    }
    .row-portfolio h2{
      padding-left: 0px;
    }
    .h2-vue{
      padding-left: 14px!important;
    }
    .contact-container h2{
      padding-left: 0px!important;
      left: 0px!important;
    }
      .contact{
      position: relative;
      height: 324px;
      background-color: #1a2b34;
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      background-image: url("../images/code.png");
      opacity: 0.16;
      filter: contrast(1.5);
    }
      .mail-icon, .phone-icon{
      transition: all 0.3s;
      opacity: 0.8;
    }
    .mail-icon:hover, .phone-icon:hover{
      background-color: #f8bc45;
    }
    .mail-icon{
      width: 75px;
      background-color: #fff;
      border-radius: 23px;
      padding: 3px;
   
    }
    .phone-icon{
      width: 75px;
      background-color: #fff;
      border-radius: 23px;
      padding: 3px;
    }
      .tel{
        color: #fff;
      text-align: left;
      margin-top: 35px;
      margin-left: 70px;
    }
    .raw-pixel{
      color: #fff;
      position: relative;
      font-size: 9px;
      text-decoration: none;
      margin-left: 0px;
      left: 18px;
    }
      .mail-p{
      text-align: right;
      margin-top: 35px;
      margin-right: 70px;
    }
      #contact-title{
      position: absolute;
      margin: 0px auto;
      left: 0px;
      right: 0px;
      text-align: center!important;
      /* margin-top: 20px!important; */
      color: #f8bc45;
      /*background-color: #1a2b34;*/
      z-index: 3;
      top: 40px;
    }
        .contact-container{
        position: relative;
      }
    .avenir{
      color: #f8bc45;
      margin-left: 21px;
    }
    .image-le-nord{
      object-position: 0px 0px!important;
    }
    .laravel{
      width: 78px;
    }
    .wordpress{
      width: 90px;
    }
    .card{
      overflow: hidden;
      box-shadow: 0 0 20px 0 #555;
    }
    .card:hover{
        box-shadow: 0 0 20px 0 #a0a0a0;
    }
  .card:hover .voir-plus{
   /* left: 0px;*/
   opacity: 100%;
  }
  .voir-plus{
    opacity:0%;
    position: absolute;
    background-color: rgba(227, 227, 227,0.4);
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
   /* left: -410px;*/
    transition: all 0.3s ease;
  }
  .plus{
      font-size: 106px;
      width: 106px;
      height: 106px;
      text-align: center;
      margin-bottom: 50px;
      position: absolute;
      top: 33px;
      /* left: 155px; */
      margin: 0px auto;
      color: rgb(83, 83, 83);
      font-family: cursive;
  }
  
  .card-body{
  
    position: absolute;
    background-color: #fff;
    bottom: -400px;
    opacity: 100%;
    transition: all 0.3s;
    
  }
  .card:hover .card-body{
    bottom: 0px!important;
  
  }
   /* .row-portfolio{
      background-attachment: fixed;
      background-position: 30px 30px;
      background-repeat: no-repeat;
      background-size: contain;
      background-image: url("./graphiques-elements/ordi-blanc.svg");
    }*/
    h2{
      color: #fff!important;
      position: relative;
      left: 20px;
    }
    h2 img{
      border-radius: 5px;
      margin-right: 10px;
      width:50px;
    }
    .row-portfolio .card{
        height: 100%;
        position: relative;
        left: 20px;
      }
      .row-portfolio .card img{
        border-radius: 5px;
        object-position: center;
        object-fit: cover;
        position: relative;
        height: 100%;
     /* left: 0.7px;*/
      }
    .tictactoe-live{
      max-width: 400px;
      height: 1000px;
    }
    .row{
      margin-top: 40px;
      margin-bottom: 20px;
    }
    .col a{
      text-decoration: none;
    cursor: pointer;
    color: #24292e;
    }
    .col{
      margin-top: 20px;
      margin-bottom: 20px;
      color: #24292e;
    }
      h1{
        margin: 50px 20px;
      }
    .dropdown-item {
      width: 95%;
  }
      body {
          margin: 0px;
          font-family: 'Open Sans', sans-serif;
          background-color: #24292e;
          color: #f8bc45;
      }
      .logo{
      width: 85px;
      height: 45px;
    }
  #ma_navigation{
    position: fixed;
      top: 0;
      right: 0;
      left: 0;
      z-index: 1000;
  }
  header a{
    color: #fff;
    text-decoration: none;
    cursor: pointer;
    margin: 5px;
  }
  .spacer{
    height: 81px;
    width: 100%;
  }
  html, 
  body,
  .container
    {
      max-width: 100%;
      overflow-x: hidden;
  }
  footer{
    padding-left: 70px;
    padding-right: 70px;
  }
  .nav-item,.nav-link{
    position: relative;
    padding-left: 0px!important;
    padding-right: 0px!important;
    margin-left: 10px;
    margin-right: 10px;
  }
  .nav-link::after{
    width: 0%;
    height: 2px;
    content: "";
    background-color: #f8bc45;
    transition: width .2s ease;
    position: absolute;
    bottom: 8px;
    left: 0;
  
  }
  .nav-link:hover.nav-link::after{
    width: 100%!important;
  }
  .active.nav-link::after{
    width: 100%!important;
    z-index: 100;
  }
  .dropdown-toggle::after {
    display: none;
}
  .dropdown-toggle::after{
    width: 100%;
    height: 2px;
    content: "";
    background-color: #f8bc45;
    transition: width .2s ease;
    position: absolute;
    bottom: 8px;
    left: 0;
  }
  .acive-bar{
    width: 75%;
    height: 2px;
    content: "";
    background-color: #f8bc45;
    transition: width .2s ease;
    position: absolute;
    bottom: 13px;
    left: 11px;
    z-index: 1000;
  }
    /* *********************** MEDIA QUERY  *********************/
    @media screen and (max-width: 500px) {
      .row-portfolio .card{
        width: 18rem!important;
        height: 279px!important;
      }
      h2{
        font-size: 18px;
      }
      .row-portfolio .card img {
       left: 0.3px;
      }
  }
  @media screen and (max-width: 992px){
    .nav-link::after {
        height: 2px;
        content: "";
        background-color: #f8bc45;
        transition: width .2s ease;
        position: absolute;
        bottom: 20px;
        left: -21px;
        transform: rotate(90deg);
        width: 0px;
    }
    .acive-bar{
        height: 2px;
        content: "";
        background-color: #f8bc45;
        transition: width .2s ease;
        position: absolute;
        left: -11px;
        transform: rotate(90deg);
        width: 0px;
        top: 24px;
    }
    .active.nav-link::after{
      width: 27px!important;
    }
    .nav-link:hover.nav-link::after{
      width: 27px!important;
    }
    .acive-bar{
        width: 27px!important;
      }
    .navbar-toggler {
      margin-right: 13px;
    }/*
    footer{
    padding-left: 30px;
    padding-right: 30px;
  }*/
  }
  @media screen and (min-width: 500px){
    .row-portfolio .card{
        height: 387px!important;
      }
  }
  
  
    /* *********************** MEDIA QUERY FIN *********************/